.top{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-text{
  font-size: 40px;
  color:  rgb(87, 87, 87);
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 24px;
}

.user-link{
  font-size: 40px;
  color:  rgb(87, 87, 87);
  text-decoration: none;
}